.table tr td button {
    background: #666;
    color: #666;
}

.table-game tr td button {
    background: #666;
    color: #666;
}

.game tr td button {
    /* background: #; */
}

.active {
    background-color: #f5f5f5;
    color: #000;
}

.red {
    background-color: red !important;
    color: red !important;
}

.blue {
    background-color: blue !important;
    color: blue !important;
}

.black {
    background-color: black !important;
    color: black !important;
}

.white {
    background-color: #f5f5f5 !important;
    color: #f5f5f5 !important;
}