.active {
    background-color: #f5f5f5;
    color: #000;
}

.red {
    background-color: red;
    color: #fff;
}

.blue {
    background-color: blue;
    color: #fff;
}

.black {
    background-color: black;
    color: #fff;
}
